// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline-style: none;
	color: black;
	text-shadow: 0px 0px 5px white;
}
/*
.field {
	text-align: center;
}
textarea {
	width: 150%;
	text-align: center;
}
*/
body {
  text-align: center;
	background: linear-gradient(blue, lightblue) no-repeat center center fixed;
	//background-repeat: no-repeat;
  //color: lightgray;
	min-height: 100%;
}

body li {
	background: linear-gradient(lightblue, blue);
}

body a {
	display: block;
	//color: lightgray;
	margin: 2px auto;
	background: linear-gradient(lightblue, blue);
	width: 250px;
	height: 25px;
	//text-shadow: 2px 2px 3px black;
	box-shadow: 2px 2px 3px black;
	border-radius: 10px;
}


p > a {
	background: linear-gradient(blue, lightblue);
	box-shadow: 0px 0px 5px black;
	width: 75%;
}

.formProperties {
  display: block;
  width: 50%;
  margin: 5px auto;
  max-width: 250px;
	min-width: 250px;
  //color: white;
	//text-shadow: 2px 2px 3px black;
	box-shadow: 2px 2px 3px black;
	background: linear-gradient(lightblue, blue);
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
}

.formProperties label {
  margin: 5px auto;
  display: block;
  clear: both;
  width: 50%;
}

.formProperties input {
  display: block;
  margin: 5px auto;
  clear: both;
	box-shadow: 2px 2px 3px black;
}

.formProperties a {
  //color: white;
  text-decoration: none;
}

.formProperties a:hover {
  text-decoration: underline;
}

#login {
	display: block;
  width: 50%;
  margin: 5px auto;
  max-width: 250px;
	min-width: 250px;
  //color: white;
	//text-shadow: 2px 2px 3px black;
	box-shadow: 2px 2px 3px black;
	background: linear-gradient(lightblue, blue);
	border-radius: 10px;
}

#login label {
  margin: 5px auto;
  display: block;
  clear: both;
  width: 50%;
}

#login input {
  display: block;
  margin: 5px auto;
  clear: both;
	box-shadow: 2px 2px 3px black;
}

#login a {
  //color: white;
  text-decoration: none;
}

#login a:hover {
  text-decoration: underline;
}

footer {
	//text-shadow: 2px 2px 3px black;
}

div.backImage img {
	width: 100%;
	height: auto;
	max-width: 620px;
}
/*
button {
	color: blue;
	box-shadow: 0px 0px 5px white;
	transition: all 1s linear;
}

button:hover {
	color: white;
	background: blue;
}
*/