html, body {
  min-height: 100%;

}

form {
  margin: 80px;
  display: inline-block;
  vertical-align: middle;
}

footer {
  position:relative;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#0078e7;
   text-align: center;
}
