<!Doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chippewa Valley - The One</title>
	<link rel="stylesheet" href="../stylesheets/application.css" type="text/css"/>
	<link rel="stylesheet" href="../stylesheets/home.css.scss" type="text/css"/>
</head>
<body>
	<nav>
		<ul>
				<li>Ride</li>
				<li>Drive</li>
				<li>Sign Up</li>
				<li>Sign In</li>
		</ul>
	</nav>
  <h1>Home#drive</h1>
  <p>Find me in app/views/home/drive.html.erb</p>
</body>

<div>
<footer>Copyright &copy; CVTC-Agile Fall Griffendor Team</footer>
</div>
</html>
