<head>
<meta charset="utf-8">
<title>Chippewa Valley - The One</title>
<link rel="stylesheet" href="../stylesheets/application.css" type="text/css"/>
<link rel="stylesheet" href="../stylesheets/home.css.scss" type="text/css"/>
<link rel="stylesheet" href="../stylesheets/homeCustom.css" type="text/css">
</head>
<body>

<div class="backImage">
	<%= image_tag("homePage.jpg", :alt => "") %>
</div>
	<div class="homePage">
		
		<p>
			Search for events
		</p>
		<%= render "/shared/search" %>
		
		<!--- More info will go in here -->
	</div>

</body>
<div>
<footer>Copyright &copy; CVTC-Agile Fall 2017 Griffendor Team</footer>
</div>
