<!Doctype html>
<html>
<head>
<title>Chippewa Valley - The One</title>
<meta>
</head>

<body>
	<nav>
		<ul>
				<li>Ride</li>
				<li>Drive</li>
				<li>Sign Up</li>
				<li>Sign In>
		</ul>
	</nav>
	<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
</body>

<div>
<footer>Copyright &copy; CVTC-Agile Fall Griffendor Team</footer>
</div>
</html>
