<h2>Welcome</h2>
<p>Welcome to Chippewa Valley The One. Where ride share is our passion.</p>

<head>
<meta charset="utf-8">
<title>Chippewa Valley - The One</title>
<link rel="stylesheet" href="../stylesheets/application.css" type="text/css"/>
<link rel="stylesheet" href="../stylesheets/home.css.scss" type="text/css"/>
</head>
<body>

</body>
<div>

</div>
</html>

