<html>
<head>
	<meta charset="utf-8">
	<title>Chippewa Valley - The One</title>
	<link rel="stylesheet" href="../stylesheets/application.css" type="text/css"/>
	<link rel="stylesheet" href="../stylesheets/home.css.scss" type="text/css"/>
</head>
<body>

  <h1>Home#ride</h1>
  <p>Find me in app/views/home/ride.html.erb</p>
</body>

</html>
