<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chippewa Valley - The One</title>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/home.css.scss" type="text/css"/>
</head>
<body>
  <h1>Have an account</h1>
  <h3>Sign in below</h3>
       <div id="login">
         <form action="/" method="post">

           <div>
           <label>
             Email Address<span class="req">*</span>
           </label>
           <input type="email"required autocomplete="off"/>
         </div>

         <div>
           <label>
             Password<span class="req">*</span>
           </label>
           <input type="password"required autocomplete="off"/>
         </div>

         <p class="forgot"><a href="#">Forgot Password?</a></p>

         <button>Log In</button>
         <p>Don't have have an account? <a href="/signup">Click Here</a> to sign up</p>
         </form>
       </div>
</body>

<div>
<footer>Copyright &copy; CVTC-Agile Fall 2017 Griffendor Team</footer>
</div>
</html>